@model IEnumerable<CRUDDEMO1.Models.Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee List</h1>
<hr />

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                <h5>Employees</h5>
                <a asp-action="Create" class="btn btn-primary btn-sm float-end">Create New</a>
            </div>
            <div class="card-body">
                @if (Model != null && Model.Any())
                {
                    <div class="row">
                        @foreach (var emp in Model)
                        {
                            <div class="col-md-12 mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-start">
                                            <div class="employee-info">
                                                <dl class="row">
                                                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Name)</dt>
                                                    <dd class="col-sm-8">@Html.DisplayFor(modelItem => emp.Name)</dd>

                                                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Gender)</dt>
                                                    <dd class="col-sm-8">@Html.DisplayFor(modelItem => emp.Gender)</dd>

                                                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Company)</dt>
                                                    <dd class="col-sm-8">@Html.DisplayFor(modelItem => emp.Company)</dd>

                                                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Department)</dt>
                                                    <dd class="col-sm-8">@Html.DisplayFor(modelItem => emp.Department)</dd>
                                                </dl>
                                            </div>
                                            <div class="form-group">
                                                <a asp-action="Edit" asp-route-id="@emp.Id" class="btn btn-warning btn-sm me-1">Edit</a>
                                                <a asp-action="Delete" asp-route-id="@emp.Id" class="btn btn-danger btn-sm me-1">Delete</a>
                                                <a asp-action="Details" asp-route-id="@emp.Id" class="btn btn-info btn-sm">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <p class="text-muted">No employee records found.</p>
                }
            </div>
        </div>
    </div>
</div>